<h1 class="editheader">Your Notes</h1>
<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>&nbsp;&nbsp;&nbsp;</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td>
          <%= note.song.title %>
        </td>
        <td>&nbsp;</td>
        <td>
          <%= note.note %>
        </td>
        <td class="td"></td>
        <td>
          <%= link_to 'Show', note %>
        </td>
        <td>&nbsp;</td>
        <td>
          <%= link_to 'Edit', edit_note_path(note) %>
        </td>
        <td>&nbsp;</td>
        <td>
          <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<li><%= link_to 'Back to Songs', songs_path %></li>
