<p id="notice">
  <%= notice %>
</p>
<p>
  <b class="show">Song</b>
  <%= @note.song.title %>
</p>
<p>
  <b class="show">Note</b>
  <%= @note.note %>
</p>
<p><li class="menuoptions"><%= link_to 'Edit Note', edit_note_path(@note) %></li></p>
<p><li class="menuoptions"><%= link_to 'Back To Songs', notes_path %></li></p>
